* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
}

html {
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
}

.icon a {
    height: 90px;
    width: 90px;
    padding-left: 80px;
}

/* Navigation bar */
.header {
    font-weight: 900;
    background: rgb(108, 153, 107);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 8%;
    z-index: 10;
}

.home a {
    list-style: none;
    display: inline;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding-right: 150px;
}

/* Stack of Cards */
.allcards {
    margin: 0px 20px;
    text-align: left;
    height: 100rem;
    /* gap: 2rem; */
}
.cards h3 {
    font-size: 25px;
}
.cardwrapper {
    margin: 10rem 15rem;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 45rem;
}
.cards {
    border-radius: 10px;
    height: 20rem;
    align-content: center;
    padding: 0px 20px;
}
.card1 {
    background-color: aquamarine;
    position: sticky;
    top: 10rem;
    /* margin-bottom: 15rem; */
}
.card2 {
    background-color: rgb(221, 255, 127);
    position: sticky;
    top: 13rem;
    /* margin-bottom: 12rem; */
}
.card3 {
    background-color: rgb(251, 127, 255);
    position: sticky;
    top: 16rem;
    /* margin-bottom: 9rem; */
}
.card4 {
    background-color: rgb(158, 185, 21);
    position: sticky;
    top: 19rem;
    /* margin-bottom: 6rem; */
}
.card5 {
    background-color: rgb(255, 217, 127);
    position: sticky;
    top: 22rem; 
    /* margin-bottom: 3rem; */
}
.card6 {
    background-color: rgb(240, 15, 26);
    position: sticky;
    top: 25rem;
    margin-bottom: 0rem;
}
footer {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 2rem;
}
